{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="row">
        <h3>Exemplo</h3>
        <div class="multiple-items">
            <div>
                <a href="#" class="d-inline-block position-relative stretched-link">
                    <img src="https://picsum.photos/300/200?random=1">
                </a>
            </div>
            <div><img src="https://picsum.photos/300/200?random=2"></div>
            <div><img src="https://picsum.photos/300/200?random=3"></div>
            <div><img src="https://picsum.photos/300/200?random=4"></div>
            <div><img src="https://picsum.photos/300/200?random=5"></div>
            <div><img src="https://picsum.photos/300/200?random=6"></div>
        </div>
    </div>

    <div class="row">
        <h3>{% trans "Trending Movies" %}</h3>
        <div class="multiple-items">
            {% for film in trending %}
                <div>
                    <a href="{{ film.id }}" class="d-inline-block position-relative stretched-link">
                        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{ film.poster_path }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <h3>{% trans "Popular Movies" %}</h3>
        <div class="multiple-items">
            {% for film in popular %}
                <div>
                    <a href="{{ film.id }}" class="d-inline-block position-relative stretched-link">
                        <img src="https://image.tmdb.org/t/p/w185/{{ film.poster_path }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <h3>{% trans "Popular Streaming Movies" %}</h3>
        <div class="multiple-items">
            {% for film in streaming_popular %}
                <div>
                    <a href="{{ film.id }}" class="d-inline-block position-relative stretched-link">
                        <img src="https://image.tmdb.org/t/p/w185/{{ film.poster_path }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <h3>{% trans "Popular Cinema Movies" %}</h3>
        <div class="multiple-items">
            {% for film in theatre %}
                <div>
                    <a href="{{ film.id }}" class="d-inline-block position-relative stretched-link">
                        <img src="https://image.tmdb.org/t/p/w185/{{ film.poster_path }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <h3>{% trans "Top Rated Movies" %}</h3>
        <div class="multiple-items">
            {% for film in toprated %}
                <div>
                    <a href="{{ film.id }}" class="d-inline-block position-relative stretched-link">
                        <img src="https://image.tmdb.org/t/p/w185/{{ film.poster_path }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}